.tag-picker {
  border: 2px solid #eee;
  padding: 0px 10px;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.tag-content {
  display: flex;
  align-items: center;
}
.caption {
  text-transform: uppercase;
  margin-right: 5px;
}
.action {
  color: #e9847e !important;
  font-size: 1.2em;
}
.caption ~ .action {
  font-size: 0.7em;
}